@import '@fontsource/fira-mono';

:root {
  font-family: 'Fira Mono', monospace;
  --pure-white: #ffffff;
  --primary-color: #b9c6d2;
  --secondary-color: #d0dde9;
  --tertiary-color: #edf0f8;
  --accent-color: #3b328b;
  --focused-accent-color: #292261;
  --heading-color: rgba(0, 0, 0, 0.7);
  --text-color: #444444;
  --background-without-opacity: rgba(255, 255, 255, 0.7);
  --max-width: 2048px;
  --column-width: 42rem;
  --column-margin-top: 4rem;
  --header-height: 6rem;
}

html {
  height: 100%;
  width: 100%;
  font-size: 8px;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 2rem;
}

#svelte {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
p {
  font-weight: 400;
  color: var(--heading-color);
}

p {
  line-height: 1.5;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--text-color);
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

button.primary {
  font-size: 2rem;
  background-color: var(--accent-color);
  border: 0.125rem solid var(--accent-color);
  border-radius: 0.5rem;
  padding: 1rem;
  color: white;
}

button.secondary {
  font-size: 2rem;
  border: 0.125rem solid var(--accent-color);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: white;
  color: var(--accent-color);
}

button.primary:hover, button.secondary:hover {
  cursor: pointer;
  box-shadow: 0rem 0.125rem 0.5rem var(--accent-color);
}

button.primary:active, button.primary:focus, button.secondary:active, button.secondary:focus {
  outline: 0.125rem solid var(--accent-color);
}

input {
  border: 0.125rem solid var(--secondary-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 2rem;
}

input:active,
input:focus {
  outline: 0.125rem solid var(--accent-color);
}
